@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/OpenSans-Regular.woff2) format("woff2"),
         url(../fonts/OpenSans-Regular.woff) format("woff"),
         url(../fonts/OpenSans-Regular.ttf) format("ttf");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/OpenSans-Bold.woff2) format("woff2"),
         url(../fonts/OpenSans-Bold.woff) format("woff"),
         url(../fonts/OpenSans-Bold.ttf) format("ttf");
}
  
body,
.field,
.button {
    font-family: "Open Sans", "Arial", sans-serif;
    color: #0f0d0e;
}

.field {
    color: rgb(0 0 0 / 54%);
}

.container {
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.title,
.tag,
.button {
    text-transform: uppercase;
}

.tag:hover {
    text-decoration: underline;
}

.button {
    width: 100%;
    height: 50px;

    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
    color: #ffffff;

    background-color: #b59f5b;
    border: none;
}

.button:hover {
    background-color: #323232;
}

.text {
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
}

.container.header {
    position: relative;

    width: 100%;

    text-transform: uppercase;

    background-image: url("../images/banner-bg.jpg");
    background-color: rgb(32, 24, 3);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header-content {
    position: relative;
    z-index: 1;

    box-sizing: border-box;
    height: 100%;
    margin: 0 auto;
    padding-top: 29px;
    padding-bottom: 145px;
}

.container.header:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    
    background-color: #000000;
    opacity: 0.6;
  }

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-mobile {
    display: none;
}

.logo {
    width: 179px;
    height: 41px;
}

.logo-mobile-link {
    display: none;
}

.nav-list {
    display: flex;
}

.nav-link {
    margin-left: 35px;
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    
}

.nav-link:hover {
    text-decoration: underline;
}

.header-description {
    max-width: 687px;
    margin-top: 125px;
    margin-left: auto;
    margin-right: auto;
}

.header-description-title {
    text-align: center;
    color: #ffffff;
    font-size: 45px;
    font-weight: 700;
    line-height: 75px;
}

.section-title {
    padding-top: 60px;
    padding-bottom: 19px;

    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 29px;
}

.section-title::after,
.sidebar-title::after,
.form-title::after {
    content: "";
    display: block;
    width: 66px;
    height: 3px;
    margin: 14px auto;

    background-color: #b59f5b; 
    opacity: 0.4; 
}

.container.trend-now {
    width: 100%;
}

.trend-now-list {
    display: flex;
    justify-content: space-between;
}

.trend-now-item {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    width: calc(25% - 1.5px);
    height: 320px;
    padding: 15px 26px;

    background-color: rgb(32, 24, 3);
}

.trend-now-item:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    background-color: #000000;
    opacity: 0.6;
  }

.trend-now-item:nth-child(n + 2) {
    margin-left: 4px;
}

.trend-now-item:first-child {
    background-image: url("../images/trend1.jpg");
    background-size: cover;
}

.trend-now-item:nth-child(2) {
    background-image: url("../images/trend2.jpg");
    background-size: cover;
}

.trend-now-item:nth-child(3) {
    background-image: url("../images/trend3.jpg");
    background-size: cover;
}

.trend-now-item:last-child {
    background-image: url("../images/trend4.jpg");
    background-size: cover;
}

.trend-now-text {
    position: relative;
    z-index: 1;

    padding: 38px 40px 36px 32px;

    border: 3px solid rgb(181 159 91 / 60%);
}

.trend-now-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.trend-now-link:hover {
    color:#b59f5b;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.tag-link {
    margin-bottom: 2px;

    text-decoration: none;
    color: #b59f5b;
    font-size: 14px;
    font-weight: 700;
}

.tag {
    margin-right: 20px;
}

.main-container {
    display: flex;
    padding-top: 61px;
}

.posts {
    width: 75%;
}

.post-item:not(:last-child) {
    margin-bottom: 57px;
}

.post {
    display: flex;
}

.img-box {
    max-width: 381px;
}

.post-link,
.sidebar-tag-link,
.category-link {
    color: inherit;
    text-decoration: none;
}

.post-link:hover {
    color:#b59f5b;
}

.post-text {
    padding: 0 121px 0 31px;
}

.text p:not(:last-child) {
    margin-bottom: 22px;
}

.info {
    display: flex;
    margin-bottom: 57px;
}

.date {
    margin: 0 16px 10px 0;
    
    font-size: 12px;

    opacity: 0.54;
}

.author {
    font-size: 12px;
    font-weight: 700;
}

.post-title {
    margin-bottom: 36px;

    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.sidebar {
    width: 25%;
}

.sidebar-title {
    margin-bottom: 30px;

    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

.sidebar-post {
    display: flex;
    margin-bottom: 20px;
}

.sidebar-post-item:last-child {
    margin-bottom: 60px;
}

.sidebar-img-box {
    min-width: 70px;
    height: 70px;
    margin-right: 20px;
}

.sidebar-img {
    max-width: 70px;
    font-size: 13px;
}

.sidebar-post-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
}

.search-post {
    display: flex;
    margin-bottom: 62px;
}

.search-group {
    width: 100%;
}

.field {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 16px 20px;

    font-size: 13px;
    background-color: #f4f7f6;
    border: none;
    outline: none;
}

.field:focus { 
    border-bottom: 1px solid #b59f5b; 
}

.search-group {
    width: calc(100% - 49px);
}

.search-button {
    width: 49px;

    vertical-align: middle;

    background-image: url("../svg/search.svg");
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center;
}

.subscription-button {
    width: 100%;
    margin-top: 17px;
    margin-bottom: 60px;
}

.sidebar-tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 61px;
}

.sidebar-tag {
    margin: 0 5px 6px 0;
    padding: 12px 16px;
    font-size: 12px;
    font-weight: 700;
    border: 3px solid #eeeeee;
}

.sidebar-tag:hover {
    text-decoration: none;

    border: 3px solid #b59f5b;
}

.category {
    padding-top: 17px;
    padding-bottom: 17px;

    font-size: 14px;
    font-weight: 700;

    border-bottom: solid 2px #eeeeee;
}

.category:hover {
    color: #b59f5b;
}

.category span {
    vertical-align: super;
    font-size: 12px;
    color: #b59f5b;
}

.our-products {
    padding-bottom: 64px;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-item {
    width: 347px;
}

.product-item:nth-child(n + 2) {
    margin-left: 66px;
}

.product-img-box {
    max-width: 85%;
    margin: 0 auto;
}

.product-img {
    width: 100%;
}

.product {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: -32px;
    box-sizing: border-box;
    min-height: 273px;
    padding: 58px 23px 31px 23px;

    border: 3px solid rgb(181 159 91 / 60%);
}

.product-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.product-link {
    color: #b59f5b;
    text-decoration: none;
}

.product-link:hover {
    text-decoration: underline;
}


.buy {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.old-price {
    font-size: 14px;
    font-weight: 700;
    text-decoration: line-through;
    line-height: 24px;
}

.new-price {
    font-size: 20px;
    font-weight: 700;  
    line-height: 24px;  
}

.buy-button {
    width: 138px;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82px;

    background-color: #f4f7f6;
}

.social-list {
    display: flex;
}

.social-icon {
    width: 20px;
    height: 20px;
}

.social-link:nth-child(n + 2) {
    margin-left: 30px;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 128px;

    font-size: 12px;
    font-weight: 700;
    color: #999999;
}

.popup {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    overflow-y: auto;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
}

.popup-container {
    position: relative;

    width: 390px;
    margin: auto;
    padding: 54px 30px;
    background-color: #ffffff;
}

.form-title {
    margin-bottom: 29px;

    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.form-group:not(:last-child) {
    margin-bottom: 33px;
}

.field-label {
    display: block;
    margin-bottom: 9px;

    font-size: 13px;
    font-weight: 400;
}

.select {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    background-image: url("../svg/form-arrows.svg");
    background-repeat: no-repeat;
    background-position: right 14px center;
    background-size: 8px;
}

.select:focus {
    border: 1px solid #b59f5b;
}

.radio-group {
	position: relative;
}

.radio-text {
    font-size: 13px;
    font-weight: 400;
}

.radio-text::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin-right: 6px;
    
    background-image: url("../svg/form-empty-circle.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px;
  }

.radio:checked + .radio-text::before { 
    background-image: url("../svg/form-circle.svg");
}

.textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 132px;
    max-height: 132px;
    resize: none;
  }

.textarea:focus { 
    border: 1px solid #b59f5b; 
}

.popup-close {
    position: absolute;
    top: -28px;
    right: 0;

    width: 20px;
    height: 20px;
    padding: 0;

    background-color: transparent;
    border: none;
}

.popup-close::after {
    content: url("../svg/form-x.svg");
    width: 20px;
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

@media (max-width: 1199px) {
    .header-content,
    .main-container,
    .our-products,
    .footer {
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
    }

    .container.header {
        background-image: url("../images/banner-bg-tablet.jpg");
    }

    .header-content {
        padding-top: 44px;
        padding-bottom: 126px;
    }

    .menu {
        display: none;
    }

    .menu-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hamburger-icon {
        width: 24px;
        height: 18px;
    }

    .menu-mobile-logo {
        width: 158px;
        height: 36px;
    }

    .header-description {
        margin-top: 103px;
    }

    .header-description-title {
        font-size: 40px;
        line-height: 55px;
    }

    .section-title {
        padding-top: 46px;
    }

    .trend-now-list {
        flex-wrap: wrap;
    }

    .trend-now-item {
        width: calc(50% - 2px);
    }

    .trend-now-item:first-child {
        margin: 0 2px 2px 0;
    }
    
    .trend-now-item:nth-child(2) {
        margin: 0 0 2px 2px;
    }
    
    .trend-now-item:nth-child(3) {
        margin: 2px 2px 0 0;
    }
    
    .trend-now-item:last-child {
        margin: 2px 0 0 2px;
    }

    .trend-now-link,
    .post-title {
        font-size: 17px;
        line-height: 22px;
    }

    .main-container {
        padding-top: 40px;
    }

    .posts {
        width: 57%;
        padding-right: 18px;
    }

    .post {
        flex-direction: column;
    }

    .post-item:not(:last-child) {
        margin-bottom: 41px;

        border-bottom: 3px solid #eeeeee;
    }

    .post-img {
        width: 100%;
    }

    .info {
        margin-bottom: 34px;
    }

    .post-text {
        margin-top: 15px;
        padding: 0;
    }

    .text {
        font-size: 14px;
        line-height: 20px;
    }

    .post-item:not(:last-child) .post-text {
        margin-bottom: 18px;
    }

    .sidebar {
        width: 43%;
        padding-left: 18px;
    } 

    .our-products {
        padding-bottom: 50px;
    }

    .products-list {
        justify-content: flex-start;
    }

    .product-item {
        width: calc(50% - 12px);
    }

    .product-item:nth-child(1) {
        margin-right: 24px;
    }

    .product-item:nth-child(n + 2) {
        margin-left: 0;
    }

    .product-item:nth-child(3) {
        margin-top: 28px;
    }

    .copyright {
        height: 98px;
    }
}  

@media (max-width: 640px) {
    .header-content,
    .main-container,
    .our-products,
    .footer {
        padding-left: 20px;
        padding-right: 20px;
    }

    .container.header {
        background-image: url("../images/banner-mobile.jpg");
    }

    .header-content {
        padding-bottom: 218px;
    }

    .menu-mobile {
        justify-content: flex-end;
    }

    .menu-mobile-logo-link {
        display: none;
    }

    .logo-mobile {
        width: 269px;
        height: 61px;
    }

    .logo-mobile-link {
        display: flex;
        justify-content: center;
        margin-top: 229px;
    }

    .header-description {
        margin-top: 42px;
    }

    .header-description-title {
        font-size: 26px;
        line-height: 36px;
    }

    .trend-now-list {
        flex-direction: column;
    }

    .trend-now-item {
        padding: 15px 20px;
    }

    .trend-now-item:nth-child(n) {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .trend-now-item:nth-child(3) {
        margin-top: 0;
    }

    .trend-now-text {
        padding: 36px 32px 34px 24px;
    }

    .trend-now-link,
    .post-title {
        font-size: 16px;
        line-height: 20px;
    }

    .main-container {
        flex-direction: column;
    }

    .posts {
        width: 100%;
    }

    .post-item:not(:last-child) {
        margin-bottom: 27px;
    }

    .post-title {
        margin-bottom: 24px;
    }

    .info {
        margin-bottom: 20px;
    }

    .sidebar {
        width: 100%;
        padding-top: 44px;
        padding-left: 0;
    }

    .sidebar-title {
        margin-bottom: 23px;
    }

    .search-post {
        margin-bottom: 44px;
    }

    subscription-button {
        margin-bottom: 44px;
    }

    .products-list {
        flex-direction: column;
    }

    .product-item {
        width: 100%;
    }

    .product-item:nth-child(2) {
        margin-top: 28px;
    }

    .product {
        min-height: 221px;
    }

    .product-title {
        font-size: 17px;
        line-height: 22px;
    }

    .our-products {
        padding-bottom: 43px;
    }
    
    .copyright {
        height: 107px;
    }

    @media (orientation: landscape) {
        .trend-now-list {
            flex-wrap: wrap;
            flex-direction: row;
        }

        .trend-now-item:nth-child(n) {
            width: calc(50% - 2px);
        }
    
        .trend-now-item:first-child {
            margin: 0 2px 2px 0;
        }
        
        .trend-now-item:nth-child(2) {
            margin: 0 0 2px 2px;
        }
        
        .trend-now-item:nth-child(3) {
            margin: 2px 2px 0 0;
        }
        
        .trend-now-item:last-child {
            margin: 2px 0 0 2px;
        }
    }  
}
